$light-bg: #ffffff;
$light-text: #000000;
$light-bg-secondary: #ebebeb;

$dark-bg: #333333;
$dark-text: #ffffff;
$dark-bg-secondary: #4f4f4f;

:root {
  --bg-color: #{$light-bg};
  --text-color: #{$light-text};
  --bg-color-light: #{$light-bg-secondary};
}

[data-theme='dark'] {
  --bg-color: #{$dark-bg};
  --text-color: #{$dark-text};
  --bg-color-light: #{$dark-bg-secondary};
}
